<div id="canvas" {{bind-attr style=canvasStyle}}>
  {{#view App.Canvas class="image-container"}}
    <img {{bind-attr src=fileUrl}}>

    {{#each annotations itemController="annotation" controllerName="annotations"}}
      {{#if isEditing}}
        {{edit-annotation focus-out="acceptChanges" class="annotation" style=annotationStyle value=text}}
      {{else}}
        <div class="annotation" {{bind-attr style=annotationStyle}} {{action "editAnnotation" on="doubleClick"}}>{{text}}</div>
      {{/if}}
    {{/each}}

    {{#each highlights itemController="highlight"}}
      <div class="highlight" {{bind-attr style=highlightStyle}} {{action "removeHighlight" on="doubleClick"}}></div>
    {{/each}}

    <div class="highlight-pointer" {{bind-attr style=highlightPointerStyle}} {{bind-attr class="showHighlightPointer::hidden"}}></div>
  {{/view}}
</div>
<div id="toolbar">
  <button type="button" class="btn btn-default btn-lg"
          data-toggle="tooltip" title="Highlight"
    {{bind-attr class="inHighlightMode:active inHighlightMode:btn-primary"}}
    {{action "toggleHighlightMode"}}>
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <button type="button" class="btn btn-default btn-lg"
          data-toggle="tooltip" title="Annotate"
    {{bind-attr class="inAnnotateMode:active inAnnotateMode:btn-primary"}}
    {{action "toggleAnnotateMode"}}>
    <span class="glyphicon glyphicon-font"></span>
  </button>
</div>